<table>
    <thead>
        <tr>
            <th>Emp ID</th>
            <th>Name</th>
            <th>Emp Number</th>
            <th>Email</th>
            <th>Role</th>
            <th>Assign City</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% employees.forEach(emp => { %>
            <tr>
                <td><%= emp.emp_id %></td>
                <td><%= emp.name %></td>
                <td><%= emp.emp_number %></td>
                <td><%= emp.email %></td>
                <td><%= emp.role %></td>
                <td><%= emp.assign_city %></td>
                <td>
                    <button onclick="editEmployee('<%= emp.emp_id %>')">Edit</button>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<script>
    function editEmployee(emp_id) {
        window.location.href = `/api/edit/${emp_id}`;
    }
</script>
